.p-listbox.p-component{
    border: 0;
}

.list-item {
    display: flex;
    align-items: center;
}

.list-item i.flag {
    width: 18px;
    margin-right: .5rem;
}


.flag {
    vertical-align: middle;
}

span.flag {
    width:44px;
    height:30px;
    display:inline-block;
}

